<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1> Hola Amigos! </h1>
    <ul>
        <% messages.forEach(result => { %>
            <ul> 
                <li class="user"> <%= result.user %> </li>
                <li> <%= result.text %> </li> 
                <li> <%= result.added %> </li> 
            </ul>
        <% }); %>
    </ul>
</body>
</html>